/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.easy-autocomplete {
    display: inline-table;
    z-index: 999999;
}
.easy-autocomplete-container {
    z-index: 999999999;
}
#btnPlus:before {
   content: "Tambah Item";
   color: red;
}
#btnMinus:before {
   content: "Hapus";
   color: red;
}
