/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 * {
      margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  }

  a {
  	color: #03658c;
  	text-decoration: none;
  }

 ul {
 	list-style-type: none;
 }

 body {
 	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #f9f9f9;
 }
.container{
    max-width: 900px;
    background: #ffffff;
}

.commentar {
    margin-bottom: 20px;
}
.commentar .children{
    margin-top: 10px;
    padding-left: 60px;
}
.commentar .media-body{
    position:relative;
}
.commentar .media-body .comment-content {
    font-weight: 300;
}
.commentar .media-body time {
    position: absolute;
    top: 0;
    right: 0;
    font-weight:300;
    font-size: 11px;
}

.comment-tagged {
    font-weight: bold;
    font-size: 11px;
}
.comment-tagged span {
    color: green;
}
#btnPlus:before {
   content: "Add Item";
   color: red;
}
#btnMinus:before {
   content: "Delete";
   color: red;
}
.popup {
    position:fixed;
    top:0;
    right:0;
    width:300px;
    background: #ffffff;
    height:100%;
    border-left: 1px solid #ccc;
    overflow:auto;
    padding:20px 0;
    display:none;
}
.popup .popupContent {
    position:relative;
    display:none;
}
.popup .popupContent .field {
    margin-bottom: 20px !important;
}
.popupLoader {
    text-align:center;
    width: 100%;
    height: 100%;
    position:relative;
    display: flex;align-items: center;justify-content: center;
}
.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.glyphicon-refresh-animate {
    -animation: spinn .7s infinite linear;
    -ms-animation: spinn .7s infinite linear;
    -webkit-animation: spinnw .7s infinite linear;
    -moz-animation: spinnm .7s infinite linear;
}

@keyframes spinn {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinnw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinnm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.selectItemStatus{
    width:calc( 100% - 20px);
    float:right
}
.icon-yes{
    position:absolute;
    width:20px;
    top:15px;
    left: 4px;
    color: green;
    display:none
}
.icon-loader{
    color: green;
    position:absolute;
    top:15px;
    left:4px;
    display:none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.log-detail{
  margin-left: 10px;
  border-left:2px solid #555;
}
.log-detail li{
  font-size: 11px;
  border-bottom: 1px dotted #333;
  padding: 5px;
  padding-left: 0;
  margin-left: 9px;
  list-style-type: disclosure-closed;
}

.log-detail li:last-child{
  border:none;
}

.reward .panel-heading{
  background: #f7f721;
  margin:0;
  padding: 5px;
  border-radius: 0;
}
.reward .panel{
  border: 1px solid #f7f721;
}
.reward .panel-body{
  padding: 5px;
  vertical-align: middle;
}
.reward .panel-body .fa{
  color: #f7f721;
}
.reward .count{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

#store-info .info-add-toko{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#store-info .alert{
    margin-top: 10px;
}

.dataTables_filter{
  text-align: right;
}